<nav class="navBack mb-4 p-3 w-100">
  <div class="row align-items-center">

    <div class="col-auto">
      <h1 class="m-0">Notas</h1>
    </div>

    <div class="col d-none d-lg-block">
      <div class="d-flex gap-3 itens-gray">
        <a href="/"> <i class="bi bi-house"></i>Home</a>
        <a href="/sobre"> <i class="bi bi-info-square"></i> Sobre</a>
        <a href="/nota/cria"> <i class="bi bi-envelope-plus"></i>Criar Nota</a>
        <a href="/nota/criaNotasTeste"><i class="bi bi-file-plus"></i>Criar
          Notas de Teste</a>
      </div>
    </div>

    <div class="col text-end d-block d-lg-none">
      <button
        class="btn border-0 p-0 text-dark"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#menuResponsivo"
      >
        <i class="bi bi-justify fs-2"></i>
      </button>
    </div>

  </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="menuResponsivo">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Navegação</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column gap-3 itens-gray">
      <a href="/"> <i class="bi bi-house"></i>Home</a>
      <a href="/sobre"> <i class="bi bi-info-square"></i> Sobre</a>
      <a href="/nota/cria"> <i class="bi bi-envelope-plus"></i>Criar Nota</a>
      <a href="/nota/criaNotasTeste"><i class="bi bi-file-plus"></i>Criar Notas
        de Teste</a>
    </div>
  </div>
</div>

<h1>Sobre o Aplicativo</h1>
<h4>Este é um aplicativo criado com o objetivo de gerenciar notas de texto.</h4>
<p>Ele foi criado na disciplina de Desenvovlvimento Web II do curso de Graduação
  em Sistemas de Informação</p>
<p>IF Sudeste MG - Campus Manhuaçu</p>
<br /><br />
<a href="/">Voltar</a>