<h2>Ajuda ao usuário</h2>
<p>
  Abaixo está a relação de funcionalidades disponíveis no sistema
</p>
<ul>
  <li><b>Home:</b> Página inicial do gerenciador de atividades.</li>
  <li><b>Criar Nova Atividade:</b> Permite criar uma nova atividade.</li>
  <li><b>Prioridade Alta:</b>Lista todas as atividades com prioridade alta.</li>
</ul>

<p>
  Na página de listagem de atividades, você pode :
</p>

<ul>
  <li><b>Visualizar:</b>Ver detalhes de uma atividade específica</li>
  <li><b>Alterar:</b>Editar as informaçõoes de uma ativiade existente</li>
  <li><b>Excluir:</b>Remover uma atividade do sistema</li>
</ul>

<a href="/">Voltar</a>