<h2>Atividades com Prioridade Alta</h2>
{{#each lista}}

  <ul>
    <li>
      <a href="/atividade/consulta/{{this.id}}">{{this.titulo}}</a>

    </li>
  </ul>
{{/each}}
<p>
  <a href="/">Voltar</a>

</p>