<div style="width: 80%; margin: 0 auto">

  <nav align="right" class="nav nav-pills mb-5">
    <a href="/" class="flex-sm-fill text-sm-center nav-link"><i
        class="bi bi-house"
      ></i>Home</a>

    <a href="/ajuda" class="flex-sm-fill text-sm-center nav-link"><i
        class="bi bi-info-square"
      ></i>Ajuda</a>
    <a href="/atividade/cria " class="flex-sm-fill text-sm-center nav-link">
      <i class="bi bi-envelope-plus"></i>
      Criar nova atividade</a>

    <a href="/prioridadeAlta" class="flex-sm-fill text-sm-center nav-link">
      <i class="bi bi-exclamation-circle"></i>Prioridade Alta</a>

  </nav>
  <h2>
    Informações da atividade
  </h2>

  <p>
    <b>

      {{titulo}}
    </b>

  </p>
  <p>
    {{desc}}
  </p>
  <p>
    <b>
      Prioridade:

    </b>
    {{prioridade}}
  </p>
  <p>
    <b>
      Data de criação :
    </b>
    {{dataDeCriacao}}
  </p>

  <a href="/" class="btn btn-secondary"><i class="bi bi-arrow-left"></i>
    Voltar</a>
</div>