<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="nav nav-pills nav-fill w-100">
      <a class="nav-item nav-link" aria-current="page" href="/">
        <i class="bi bi-house"></i> Home
      </a>
      <a class="nav-item nav-link active" href="/ajuda">
        <i class="bi bi-info-square"></i> Ajuda
      </a>
      <a class="nav-item nav-link" href="/atividade/criar">
        <i class="bi bi-envelope-plus"></i> Criar Atividade
      </a>
      <a class="nav-item nav-link" href="/prioridadeAlta">
        <i class="bi bi-exclamation-octagon"></i> Prioridade Alta
      </a>
    </div>
  </div>
</nav>
<nav aria-label="breadcrumb" class="mt-3 mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Ajuda
        </li>
    </ol>
</nav>
<h1>Ajuda ao Usuário</h1>


<p >Abaixo está a relação de funcionalidades disponíveis no sistema:</p>
<ul>
    <li><b>Home:</b> Página inicial do gerenciador de atividades.</li>
    <li><b>Criar Nova Atividade:</b> Permite criar uma nova atividade.</li>
    <li><b>Prioridade Alta:</b> Lista todas as atividades com prioridade alta.</li>
</ul>
<p>Na página de listagem de atividades, você pode:</p>
<ul>
    <li><b>Visualizar:</b> Ver detalhes de uma atividade especifica.</li>
    <li><b>Alterar:</b> Editar as informações de uma atividade existente.</li>
    <li><b>Excluir:</b> Remover uma atividade do sistema.</li>
</ul>

<button class="btn btn-secondary"><a href="/"><i class="bi bi-arrow-left"></i> Voltar</a></button>